/* This file is for your main application CSS */
// @import "./phoenix.css";
@import "../node_modules/hiq/dist/hiq.min.css";
@import "./variables.css";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  display: flex;
  height: 100%;
  width: 100%;
}
.nav {
  display: flex;
  flex: 1;
}
.nav-tabs {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 20;
  padding: 0 1.5rem;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
}
.logo {
  display: flex;
  min-height: 1.75rem;
  min-width: 1.75rem;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center; 
  background-image: url("https://ddjkm7nmu27lx.cloudfront.net/156026702901102/logo/eaabed08c4f24865bc94146186d4a64a.jpeg");
}
.search {
  max-width: 10rem;
  padding: 0 .5rem 0 2.25rem;
  border: 1px solid var(--hiq-color-gray-6);
  border-radius: 2rem;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%238f96a3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cpath d='M21 21l-4.35-4.35'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: .5rem .35rem;
  background-size: 1.25rem;
  outline: none;
  font-size: 16px;
  line-height: 2rem;
  color: var(--hiq-input-text-color);
  transition: all .2s ease;
}
a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 .5rem;
  font-weight: var(--hiq-font-weight-medium);
  color: var(--hiq-color-gray-5);
  transition: color var(--hiq-speed) var(--hiq-easing),border-color var(--hiq-speed) var(--hiq-easing);
}
.sidebar {
  display: flex;
  padding: 2rem;
  background-color: var(--hiq-color-gray-8);
  height: 100%;
  min-width: 15rem;
}
.tab {
  padding:  .75rem .75rem;
  display: flex;
  color: whitesmoke;
  transition: var(--hiq-easing);
  border-bottom: 2px solid transparent;
    &:hover {
    border-color: var(--hiq-color-primary);
  }
  &.enabled {
    border-color: var(--hiq-color-primary);
  }
  transition: color var(--hiq-speed) var(--hiq-easing),border-color var(--hiq-speed) var(--hiq-easing);
}
.index {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "filters games";
  grid-template-columns: 1fr 4fr;
}
.filters {
  grid-area: filters;
}
.games {
  grid-area: games;
  display: flex;
  flex-wrap: wrap;
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    border-radius: var(--hiq-border-radius);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 24px 24px;
    width: calc(33.33333% - 24px);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    a {
      color: unset;
    }
    img {
      border-radius: unset;
    }
    &-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      padding: 0.5rem;
      font-size: 1rem;
      width: 100%;
      .price {
        display: flex;
        flex-direction: row-reverse;
        font-weight: var(--hiq-font-weight-semibold);
      }
    }
  }
}

@media (max-width: 1000px) {
  .games {
    .card {
      width: calc(50% - 8px);
      margin: 0 0 8px 8px;
    }
  }
}
