<script
  type="text/javascript"
  src={Routes.static_url(@conn, "/assets/page/index.js")}>
</script>

<!-- Main -->
<script type="text/javascript">
  const app = initElm({ flags: {title: "Index"} });
</script>
