<!-- Load -->
<script
  type="text/javascript"
  src="<%= Routes.static_url(@conn, "/js/page/index.js") %>">
</script>

<!-- Main -->
<script type="text/javascript">
  const app = initElm({ flags: {title: "Index"} });
</script>
